body {
	background-color: #eee8d5;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
}

#wrapper {
	display: grid;
	width: 800px;
	margin: 0 auto;
	grid-template-columns: 200px 200px 200px 200px;
	grid-template-rows: auto;
	grid-template-areas: 
	"header header header header"
	". figure figure ."
	". main main ."
	". main main ."
	"footer footer footer footer";
}

header {
	grid-area: header;
	text-align: center;
}
	h1 {
		font-family: 'Iceland', cursive;
		text-decoration: underline;
		font-size: 54px;
	}

figure {
	display: grid;
	grid-area: figure;
	justify-items: center;
	margin: 0;
}

.rounded {
	background-color: #fdf6e3;
	border-radius: 20px;
	padding: 10px;
}
.shadow {
	box-shadow: 4px 4px 4px;
}

main {
	grid-area: main;
}
	span {
		font-family: 'Source Code Pro', monospace;
		font-weight: bold;
	}

footer {
	grid-area: footer;
	font-size: 16px;
	font-style: italic;
	text-align: center;
}